* {
	box-sizing: border-box;
}

.col1 {width: 8.33%;}
.col2 {width: 16.66%;}
.col3 {width: 25%;}
.col4 {width: 33.33%;}
.col5 {width: 41.66%;}
.col6 {width: 50%;}
.col7 {width: 58.33%;}
.col8 {width: 66.66%;}
.col9 {width: 75%;}
.col10 {width: 83.33%;}
.col11 {width: 91.66%;}
.col12 {width: 100%;}

.col1-empty {width: 8.33%; content: "";}
.col2-empty {width: 16.66%; content: "";}
.col3-empty {width: 25%; content: "";}
.col4-empty {width: 33.33%; content: "";}
.col5-empty {width: 41.66%; content: "";}
.col6-empty {width: 50%; content: "";}
.col7-empty {width: 58.33%; content: "";}
.col8-empty {width: 66.66%; content: "";}
.col9-empty {width: 75%; content: "";}
.col10-empty {width: 83.33%; content: "";}
.col11-empty {width: 91.66%; content: "";}

.row {
	width: 100%;
	margin-left: 2%;
	margin-right: 2%;
}

.row-empty { width: 100%; content: "";}


.row::after {
	content: "";
	clear: both;
	display: table;
}

.grid-full {
	display: grid;
	background-color: black;
	width: 100%;
	position: fixed;
}

.grid-lg {
	display: grid;
	background-color: white;
	width: 90%;
	padding: 10px;
	margin: auto;
}

.grid-md {
	display: grid;
	background-color: white;
	width: 70%;
	padding-top: 8%;
	padding-bottom: 10px;
	margin: auto;
}

.grid-sm {
	display: grid;
	background-color: white;
	width: 50%;
	padding: 10px;
	margin: auto;
}





/* Col Responsiveness */
@media only screen and (max-width: 1360px) {
	.col6, .col7, .col8,
	.col9, .col10, .col11, .col12,
	.col6-empty, .col7-empty, .col8-empty,
	.col9-empty, .col10-empty, .col11-empty { width: 100%; } 
}

@media only screen and (max-width: 1020px) {
	.col1, .col2, .col3, .col4, 
	.col5, .col6, .col7, .col8,
	.col9, .col10, .col11, .col12,
	.col1-empty, .col2-empty, .col3-empty, .col4-empty, 
	.col5-empty, .col6-empty, .col7-empty, .col8-empty,
	.col9-empty, .col10-empty, .col11-empty { width: 100%; }
}
