
body {background-color: black;}

a {text-decoration: none;}

h1, h2, h3, h4, h5, h6 {color: black;}

.topSpace-xl {padding-top: 50px;}

.accordion-header, .accordion-body {background-color: white;}

.welcome {font-size: 500%; color: white; border-bottom: solid 3px white;}

.border-b {border-bottom: 2px solid black; padding-bottom: 5px;}