/* Color Palette Codes
#000000 Black
#7f95d1 Blue
#ff82a9 Pink
#ffc0be Lighter Pink
#ffebe7 Tan/Creme
 */

body {
	background-color: #2b2b2b;
}

a {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: #758fd9; opacity: 0.7;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Libre Franklin';
	font-weight: 700;
}

h1 { 
	font-size: 500%;
	color: #758fd9;
}

p { font-size: 105%;}

.blackLine { border: 2px solid black; margin: 10px 50px 10px 50px;}

img {width: 100%;}
.img-sm {width: 25%;}
.img-md {width: 50%;}
.img-lg {width: 75%;}

.center-obj { margin: auto;}

.topSpace-sm {margin-top: 10px;}
.topSpace-md {margin-top: 20px;}
.topSpace-lg {margin-top: 30px;}


.headerNameFont {
	font-size: 300%;
	color: #ff82a9;
	padding-left: 50px;
	padding-top: 20px;
}

.headerJobFont {
	font-size: 150%;
	color: #ff82a9;
	padding-left: 50px;
}
