/* Color Palette Codes
#000000 Black
#7f95d1 Blue
#ff82a9 Pink
#ffc0be Lighter Pink
#ffebe7 Tan/Creme
 */
 
* {
	box-sizing: border-box;
}

body {
	background-color: #f6f5f5;
}

a {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: black; opacity: 0.7;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Libre Franklin';
	font-weight: 700;
}

h1 {font-size: 300%;}
p {font-size: 105%; font-family: 'Lato';}
img {width: 100%;}

.img-sm {width: 75%;}

.topSpace-sm {margin-top: 10px;}
.topSpace-md {margin-top: 20px;}
.topSpace-lg {margin-top: 30px;}

i.fas, i.fab { 
	color: #ee6f57;
	margin: auto;
	padding-left: 7px;
}

.topBar {
	background-color: #1f3c88;
	color: #ee6f57;
	padding-top: 5px;
	padding-bottom: 3px;
}

.container {
	background-color: #f6f5f5;
	border: solid 2px black;
}

.welcomeFont {
	padding-top: 100px;
}