body {padding-bottom: ;}

a {text-decoration: none;}
a:hover {text-decoration: none;}
a:visited {text-decoration: none;}
a.page_link:hover{text-decoration: underline; color: #6167AF;}

.container {background-color: white;}

img {max-width: 100%; height: auto;}

li.nav-b {padding-left: 20px; font-family: 'Exo 2', sans-serif; font-size: 150%; font-weight: 600;}

p.indent {text-indent: 40px;}

.topSpace-xl {padding-top: 200px;}
.topSpace-lg {padding-top: 100px;}
.topSpace-md {padding-top: 55px;}
.topSpace-sm {padding-top: 20px;}
.topSpace-xsm {padding-top: 10px;}

.bottomSpace-xl {padding-bottom: 200px;}
.bottomSpace-lg {padding-bottom: 100px;}
.bottomSpace-md {padding-bottom: 50px;}
.bottomSpace-sm {padding-bottom: 20px;}
.bottomSpace-xsm {padding-bottom: 10px;}

.fa-dna {display: none; color: #6167AF;}
.fa-flask, .fa-shopping-cart, .fa-comment {color: #6167AF;}
i.fa-chevron-right {color: #6167AF; padding-left: 5px;}


h1, h2, h3, h4, h5, h6 {color: #6167AF; font-family: 'Exo 2', sans-serif; font-weight: 200;}

.homefont {font-size: 500%; font-family: 'Exo 2', sans-serif; font-weight: 200; display: none;}
h6.homefont {font-size: 250%; font-family: 'Exo 2', sans-serif; font-weight: 200; display: none;}

.learn {font-weight: 600; display: inline;}

.border-b {border: solid 2px #6167AF; padding-bottom: 3px;}
.border-bb {border-bottom: solid 2px #6167AF; padding-bottom: 3px;}
.border-bw {border-bottom: solid 2px white; padding-bottom: 3px;}
.border-tb {border-top: solid 2px #6167AF; padding-bottom: 3px;}

.fade_body {display: none;}

.directory2 {background-color: #6167AF;}

.white-text {color: white;}

.accordion-header {background-color: white;}
.accordion-body {background-color: white;}