:root {
    --doyleBlue: #003882;
    --doyleGold: #b59859;
    --doyleDarkGold: #a38950;
    --white: #fff;
    --black: #111;
    --grey: #999;
}
    
* {padding: 0; margin: 0; transition: .3s;}

img {max-width: 100%;}
svg {fill: var(--white); height: 50px; width: 50px; transition: .2s;}
svg:hover {fill: var(--doyleGold);}

body {font-family: "Poppins", sans-serif; font-weight: 400; background: var(--white);}

nav {
    display: flex; flex-flow: row wrap;
    align-items: center;
    column-gap: 2rem;
    padding: 2rem;
    background: var(--doyleBlue);
    border-bottom: 4px solid var(--doyleGold);
    & a {cursor: pointer; color: var(--white); font-size: 1.1rem;}
    & a:hover {color: var(--doyleGold);}
}
#navAccount {margin-left: auto;}


header {
    margin-top: 1rem; margin-bottom: 1rem;
    display: flex; flex-flow: column;
    align-items: center;
    & h1 {font-size: 2.5rem; color: var(--doyleBlue);}
    & h2, .tag {
        font-size: 1.2rem; 
        font-weight: 300;
        color: var(--doyleGold); 
        font-style: italic;
    }
}


main {
    max-width: 1500px; margin: auto;
    background: var(--white);
    display: flex; flex-flow: column;
    grid-gap: 1rem;
    & h3 {font-size: 2.5rem; font-weight: 300; color: var(--doyleBlue);}
    & h4 {
        font-size: 1.5rem; font-weight: 300; color: var(--doyleBlue); 
        margin-bottom: 1rem;
    }
}
.cardContainer {
    display: flex; flex-flow: row wrap;
    justify-content: space-evenly;
    grid-gap: 1.5rem;
}
.card {
    display: flex; flex-flow: column;
    grid-gap: .5rem;
    padding: 1rem;
    border: 1px solid var(--grey);
    box-shadow: 0px 3px 5px var(--grey);
    border-radius: 7px;
    & h5 {color: var(--doyleBlue); font-size: 1rem; font-weight: 400;}
}
.card:hover {border-top: 10px solid var(--doyleGold); cursor: pointer;}


footer {
    
}

#backToTop {
    position: fixed;
    bottom: 10; right: 10;
    height: 50px; width: 50px;
    cursor: pointer;
    fill: var(--doyleBlue);
}