@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --doyleBlue: #003882;
    --doyleLightBlue: #3b6cad;
    --doyleGold: #b59859;
    --doyleDarkGold: #a38950;
    --white: #fff;
    --black: #111;
    --grey: #999;
    --lightGrey: #ebebeb;
}
    
* {padding: 0; margin: 0; transition: .3s;}

img {max-width: 100%;}
svg {fill: var(--white); height: 50px; width: 50px; transition: .2s;}
svg:hover {fill: var(--doyleGold);}

body {font-family: "Poppins", sans-serif; font-weight: 400; background: var(--white);}

nav {
    display: flex; flex-flow: row wrap;
    align-items: center;
    column-gap: 2rem;
    padding: 2rem;
    background: var(--doyleBlue);
    border-bottom: 4px solid var(--doyleGold);
    & a {cursor: pointer; color: var(--white); font-size: 1.1rem; max-height: 50px; text-decoration: none !important;}
    & a:hover {color: var(--doyleGold);}
}
#navAccount {margin-left: auto;}


header {
    margin-top: 1rem; margin-bottom: 1rem;
    display: flex; flex-flow: column;
    align-items: center;
    & h1 {font-size: 2.5rem; color: var(--doyleBlue);}
    & h2, .tag {
        font-size: 1.2rem; 
        font-weight: 300;
        color: var(--doyleGold); 
        font-style: italic;
    }
}


main {
    background: var(--white);
    display: flex; flex-flow: column;
    grid-gap: 1rem;
}
#welcome {
    display: flex; flex-flow: column;
    padding: 3rem 2rem 4rem 2rem;
    background: var(--lightGrey);
    border-top: 1px solid var(--doyleBlue);
    text-align: center;
    & h3 {color: var(--doyleBlue); font-size: 2.25rem; font-weight: 300;}
    & p {margin-top: .5rem;}
}
#products {
    max-width: 1500px; 
    margin: 1rem auto 2rem auto;
    padding: 0 2rem;
    & h4 {color: var(--doyleBlue); font-size: 1.5rem; font-weight: 300; margin-bottom: 1rem;}
}
#cardContainer {
    display: flex; flex-flow: row wrap;
    justify-content: space-evenly;
    grid-gap: 1.5rem;
}
.card {
    display: flex; flex-flow: column;
    grid-gap: .5rem;
    padding: 1rem;
    border: 1px solid var(--grey);
    box-shadow: 0px 3px 5px var(--grey);
    border-radius: 7px;
    & h5 {color: var(--doyleBlue); font-size: 1rem; font-weight: 400;}
}
.card:hover {border-top: 10px solid var(--doyleGold); cursor: pointer;}

#services {
    background: var(--doyleBlue);
    & div {
        color: var(--white);
        max-width: 1500px;
        margin: 2rem auto;
        padding: 0 1.25rem;
    }
    & h4 {font-size: 1.5rem; font-weight: 300;}
}


footer {
    
}

#backToTop {
    position: fixed;
    bottom: 10px; right: 10px;
    height: 50px; width: 50px;
    cursor: pointer;
    fill: var(--doyleGold);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-card {
    display: flex; 
    flex-flow: column;
    align-items: center;
    grid-gap: .75rem;
    padding: 1rem .75rem;
    height: 450px; width: 300px;
    border-radius: 7px;
    background: var(--white);
    border: 3px solid var(--doyleGold);
    & h5 {color: var(--doyleBlue); font-size: 1.5rem; font-weight: 400;}
    & p {text-align: center;}
    & div {display: flex; flex-flow: column; grid-gap: .5rem;}
    & select, & button {padding: .5rem 1rem; background: var(--doyleBlue); color: var(--white); border-radius: 5px; border: none; cursor: pointer; width: 250px; text-align: center;}
    & button:hover {background: var(--doyleGold);}
}

@media (max-width: 900px) {
    nav {
        flex-flow: column;
        padding: 1rem;
    }
    #navAccount {margin-left: 0;}
    
    header {
        padding: 0 1rem;
        & h1 {text-align: center; font-size: 2.25rem;}
        & h2, & .tag {display: block; text-align: center; font-size: 1.1rem;}
    }
    
    main {
        
    }
    #welcome {padding: 2rem 2rem 3rem 2rem;}
    #products {padding: 0 1.25rem;}
    #cardContainer {grid-gap: 1rem;}
    .card {
        max-width: 125px;
        & h5 {text-align: center;}
    }
    .overlay-card {
        
    }
    #services {
        & div {margin: 2rem 1.25rem;}
    }
}