:root {
    --doyleBlue: #003882;
    --doyleGold: #b59859;
    --doyleDarkGold: #a38950;
    --white: #fff;
    --black: #111;
    --grey: #999;
}
    
* {padding: 0; margin: 0; transition: .3s;}

img {max-width: 100%;}
svg {fill: var(--white); height: 50px; width: 50px; transition: .2s;}
svg:hover {fill: var(--doyleGold);}

body {font-family: "Poppins", sans-serif; font-weight: 400; background: var(--white);}

nav {
    display: flex; flex-flow: row wrap;
    align-items: center;
    column-gap: 2rem;
    padding: 2rem;
    background: var(--doyleBlue);
    border-bottom: 4px solid var(--doyleGold);
    & a {cursor: pointer; color: var(--white); font-size: 1.1rem; max-height: 50px; text-decoration: none;}
    & a:hover {color: var(--doyleGold);}
}
#navAccount {margin-left: auto;}


header {
    margin-top: 1rem; margin-bottom: 1rem;
    display: flex; flex-flow: column;
    align-items: center;
    & h1 {font-size: 2.5rem; color: var(--doyleBlue);}
    & h2, .tag {
        font-size: 1.2rem; 
        font-weight: 300;
        color: var(--doyleGold); 
        font-style: italic;
    }
}


main {
    max-width: 1500px; 
    margin: auto;
    padding: 0 2rem;
    background: var(--white);
    display: flex; flex-flow: column;
    grid-gap: 1rem;
    & h3 {font-size: 2.5rem; font-weight: 300; color: var(--doyleBlue);}
    & h4 {
        font-size: 1.5rem; font-weight: 300; color: var(--doyleBlue); 
        margin-bottom: 1rem;
    }
    & p {margin-top: .75rem;}
}
#cardContainer {
    display: flex; flex-flow: row wrap;
    justify-content: space-evenly;
    grid-gap: 1.5rem;
}
.card {
    display: flex; flex-flow: column;
    grid-gap: .5rem;
    padding: 1rem;
    border: 1px solid var(--grey);
    box-shadow: 0px 3px 5px var(--grey);
    border-radius: 7px;
    & h5 {color: var(--doyleBlue); font-size: 1rem; font-weight: 400;}
}
.card:hover {border-top: 10px solid var(--doyleGold); cursor: pointer;}


footer {
    
}

#backToTop {
    position: fixed;
    bottom: 10px; right: 10px;
    height: 50px; width: 50px;
    cursor: pointer;
    fill: var(--doyleBlue);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-card {
    display: flex; 
    flex-flow: column;
    align-items: center;
    grid-gap: .75rem;
    padding: 1rem .75rem;
    height: 450px; width: 300px;
    border-radius: 7px;
    background: var(--white);
    border: 3px solid var(--doyleGold);
    & h5 {color: var(--doyleBlue); font-size: 1.5rem; font-weight: 400;}
    & p {text-align: center;}
    & div {display: flex; flex-flow: column; grid-gap: .5rem;}
    & a {
        color: var(--white); font-size: 1rem; font-weight: 400; background: var(--doyleBlue); 
        padding: .25rem .5rem; border-radius: 10px; text-decoration: none;
    }
    & a:hover {background: var(--doyleGold);}
}

@media (max-width: 900px) {
    nav {
        flex-flow: column;
        padding: 1rem;
    }
    #navAccount {margin-left: 0;}
    
    header {
        padding: 0 1rem;
        & h1 {text-align: center; font-size: 2.25rem;}
        & h2, & .tag {display: block; text-align: center; font-size: 1.1rem;}
    }
    
    main {
        padding: 0 1.25rem;
        & h3, & h4, & p {text-align: center;}
    }
    #cardContainer {grid-gap: 1rem;}
    .card {
        max-width: 125px;
        & h5 {text-align: center;}
    }
    
    .overlay-card {
        
    }
}