:root {
	--darkGrey: #242424;
	--mediumGrey: #424242;
    --lightGrey: #636363;
    --textColor: #f5f5f5;
    --accentGreen: #4fb862;
}

* {margin: 0;}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	background-color: var(--darkGrey);
}
	
.fa-cat	{
	color: var(--textColor) !important;
	display: flex-inline !important;
	align-items: center !important;
}

.navBar {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	background-color: var(--darkGrey);
	border-bottom: 2px solid var(--darkGrey);
	padding: .25rem;
}
.navLink {
	color: var(--textColor);
	padding: 1rem;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.2rem;
}
.navLink:hover {
	background-color: var(--mediumGrey);
    color: var(--accentGreen);
    border-left: 1px solid var(--darkGrey);
    border-right: 1px solid var(--darkGrey);
}

.activeLink {
    padding: 1rem;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.2rem;
    background-color: var(--mediumGrey);
    color: var(--accentGreen);
    border-left: 1px solid var(--darkGrey);
    border-right: 1px solid var(--darkGrey);
}

.container {
    max-width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 1rem 3rem 1rem 3rem;
    background-color: var(--mediumGrey);
}

.row {
    max-width: 100%;
    margin: 1rem 1rem;
    padding: 10px 20px;
    background-color: var(--lightGrey);
    border-radius: 25px;
    box-shadow: 3px 3px 7px var(--darkGrey);
}

h1.headerTag {
    color: var(--textColor);
    font-weight: 500;
}
p.mainText {
    color: var(--textColor);
    font-weight: 300;
    margin: .5rem 0 .75rem 0;
}
a.mainLink, a.mainLink:visited {
    color: var(--textColor);
}
a.mainLink:hover {
    color: var(--accentGreen);
}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 1rem 1rem;
    padding: 10px 20px;
}
.card {
    background-color: var(--lightGrey);
    max-width: 32%;
    text-align: center;
    border-radius: 25px;
    padding: .75rem 2rem;
    box-shadow: 3px 3px 7px var(--darkGrey);
    margin: 0 .5rem;
}
h2.cardTitle {
    color: var(--textColor);
    font-weight: 500;
}
p.cardText {
    color: var(--textColor);
    font-weight: 300;
    text-align: left;
    padding: .5rem 0;
}



