:root {
    --black: #111;
    --grey: #444;
    --lightGrey: #777;
    --white: #f3f3f3;
}

* {margin: 0; padding: 0;}

body {font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 1rem; color: var(--white); background-color: var(--black);}

.navbar {display: flex; flex-direction: row-reverse; max-width: 100%; background-color: ;}
.navbar a {}

.container {}
#header {}
#content {}
#projects {}