img { width: 100%; display: block;}

body	{
	background-color: #ebf3ff;
	margin-bottom: 25px;
	font-family: 'Cardo', serif; font-size: 105%;
}

p {font-family: 'Cardo', serif; font-size: 105%;}

h1,h2,h3,h4,h5,h6 {font-family: 'Rubik', sans-serif;}

a {text-decoration: none; color: black;}
a:hover {color: black;}

footer {
    position: fixed;
    height: 25px;
    background-color: black;
	color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
	text-align: center;
    margin-bottom: 0px;
}

.row {padding-bottom: 15px;}

.font-b {font-weight: 900;}

.bg-light {background-color: white!important;}

.container-fluid {background-color: white;}
@media (min-width: 1405px) {
  .container-fluid{
    width: 1400px;
  }
}

.btn-primary {background-color: #33496b; border: solid #1f2c40 2px; 
	font-size: 150%; color: white; font-family: 'Rubik', sans-serif; 
	height: 117px; width: 100%;}
.btn-primary:hover {background-color: black; border: solid #1f2c40}

.btn-secondary {background-color: #33496b; border: solid #1f2c40 2px;
	font-size: 150%; color: white; font-family: 'Rubik', sans-serif;}
.btn-secondary:hover {background-color: black; border: solid #1f2c40}

.alert-primary {background-color: #faefa5; border: solid #b09d1e 1px; color: black;}

.deals { 
	margin-left: 30px; margin-right: 30px; 
	padding-top: 10px; padding-bottom: 10px;
}

.border-f-black {border: 2px solid black;}
.border-b-black {border-bottom: 3px solid black;}

.logo-img {width: 10%; display: inline;}


.nav-item {font-size: 125%;}
.navbar-light .navbar-nav .nav-link {color: black;}

.topSpace-sm	{padding-top: 8px;}
.topSpace-md	{padding-top: 15px;}
.topSpace-lg	{padding-top: 25px;}
.topSpace-xl	{padding-top: 50px;}

i.fas, i.fab {color: black;}

.back-button {background-color: #e9ecef; padding: 1rem; border: 1px solid black;}