html {cursor: url('../img/mouse.ico'), default;}

a {text-decoration: none; color: black;}
a:hover {color: red; opacity: .6;}

img {width: 100%;}

h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif;}

.removeBlock {display: inline; padding-right: 2%;}

.hidden {display:none;}

.text-red {color: red;}

.fab {color: black;}
.fab:hover {color: red;}

.sideBar {position: fixed; background-color: white; width: 23%; padding-left: 2%; box-shadow: 3px 0px #dbdbdb; min-height: 100%; z-index: 1;}
.sideBarTitle {padding-top: 5%;}
.sideBarLinks {padding-top: 60%;}
.sideBarIcons {padding-top: 65%;}


.contentBar {text-align: center; padding-left: 24%; padding-top: 2%; padding-right: 2%; padding-bottom: 2%; }
.contentIndex {padding-top: 25%;}
.contentContact {padding-top: 13%;}
.contentImg {padding-top: 2%;}


.border-g {border: solid #dbdbdb 1px; padding: 2%;}
.border-gb {border-bottom: solid #dbdbdb 1px; padding-bottom: 2%;}
