
/* Beginning of Global Styles */
body {background-color: #e8e8e8; color: black; margin-top: 4rem;}

.topSpaceL {
    margin-top: 20px;
}

.topSpaceXL {
    margin-top: 30px;
}

.display-1 {border-bottom: black 2px solid;}

/* Ending of Global Styles */


