
/* Beginning of Global Styles */
body {background-color: #b2b2b2; color: black; font-family: 'Ubuntu', sans-serif;}

a {color: red; text-decoration: none;}
a:hover{color: red; text-decoration: underline;}

.container {border: black 2px solid; background-color: white; margin-top: 4rem; padding-bottom: 1.5rem; box-shadow: 5px 5px 10px 3px;}

.topSpaceL {margin-top: 20px;}
.topSpaceXL {margin-top: 30px;}
.topSpaceXXL {margin-top: 50px;}

.display-1 {border-bottom: black 2px solid;}

/* Ending of Global Styles */


