body {background-color: #6fa8dc; font-family: 'Staatliches', cursive; color: white;}

a {
    color: #6fa8dc;
    text-decoration: none;
}

a:hover {
    color: #6fa8dc;
    text-decoration: underline;
}

a.contact {
    color: white;
    text-decoration: underline;
}

.container {margin-top: 50px; padding-top: 10px; border: 1px solid black;}

.my-btn {
    background-color: transparent;
    border: none;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    color: white;
}

.my-btn:visited {
    background-color: #6fa8dc;
}

.my-btn:hover, .my-btn:active {
    background-color: #6fa8dc; box-shadow: 5px 5px 10px black; border: 1px solid black;
}

.canvas-title {
    color: #6fa8dc;
    font-size: 30px;
}

.canvas-link {
    font-size: 26px;
    color: #6fa8dc;
    padding-left: 15px;
    margin-top: 30px;
    border-bottom: 1px solid #6fa8dc;
}
