body	{
	background-image: url('../img/background.jpeg');
	background-attachment: fixed;
	margin-bottom: 25px;
}

p	{
	font-family: 'Lato';
	font-size: 16px;
}

img {width: 100%;}

a	{
    color: black;
	text-decoration: none;
}

a:hover	{
    color: black;
	text-decoration: none;
	opacity: 0.6;
}

li	{
	font-family: 'Lato';
	padding-bottom: 5px;
	padding-left: 5px;
}

footer {
    position: fixed;
    height: 25px;
    background-color: black;
	color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
	text-align: center;
    margin-bottom: 0px;
}

.citation {
	background-color: black;
	color: white;
}

.row	{
	margin-bottom:20px;
}

.container	{
	background-color: white;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 10px;
}

.font1	{
	font-family: 'Sansita Swashed';
}

.font2	{
	font-family: 'Lato';
}

.btn-primary	{
	border: solid 1px black;
	background-color: #004bbd;
	font-size: 18px;
	color: white;
	font-family: 'Sansita Swashed';
}

.btn-primary:hover	{
	opacity: 1.0;
}

.btn-primary-orange	{
	border: solid 1px black;
	background-color: #f2bb44;
	font-size: 18px;
	color: black;
	font-family: 'Sansita Swashed';
}

.btn-primary-orange:hover	{
	opacity: 1.0;
}

.blueBorder	{
	border: solid 5px #004bbd;
	padding: 8px 20px 25px 20px;
}

.blueBorder2	{
	border: solid 5px #004bbd;
	padding: 8px 20px 0px 20px;
}

.blueBorderTop	{
	border-top: solid 5px #004bbd;
	padding-top: 10px;
}

.orangeBorder	{
	border: solid 5px #f2bb44;
	padding: 8px 20px 3px 20px;
}

.orangeFont {
	color: #f2bb44;;
}

.alert-danger {
    color: black;
    background-color: #f2bb44;
    border-color: black;
}

.titleFont	{
	font-size: 60px;
	color: #004bbd;
	padding-bottom: 5px;
}

.missionBtn	{
	margin-top: 20px;
}

.missionBtn2	{
	margin-top: 5px;
}

.topSpace	{
	padding-top: 8px;
}

.topSpace2	{
	padding-top: 10px;
}

.topSpace3	{
	padding-top: 50px;
}

.imgText { 
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 140%);
	color: #004bbd;
	width: 100%
}

.imgText2 { 
	font-size: 32px;
	position: absolute;
	top: 80%;
	left: 70%;
	transform: translate(-50%, 140%);
	color: #004bbd;
	width: 100%
}

.sizeUp	{
	font-size: 125%;
}

.secondary-img	{
	opacity: 0.9;
	position: relative;
}

.card	{
	width: 100%;
}

.breadcrumb-item.active { color: #515A5D;}

