body	{
	background-image: url('../img/background.jpeg');
	background-attachment: fixed;
}

p	{
	font-family: 'Lato';
	font-size: 16px;
}


a	{
    color: black;
	text-decoration: none;
}

a:hover	{
    color: black;
	text-decoration: none;
}

li	{
	font-family: 'Lato';
	padding-bottom: 5px;
	padding-left: 5px;
}

.row	{
	margin-bottom:20px;
}

.container	{
	background-color: white;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 10px;
}

.font1	{
	font-family: 'Sansita Swashed';
}

.font2	{
	font-family: 'Lato';
}

.btn-primary	{
	border: solid 1px black;
	background-color: #66a3ff;
	font-size: 18px;
	color: white;
	font-family: 'Sansita Swashed';
}

.btn-primary-orange	{
	border: solid 1px black;
	background-color: #f2bb44;
	font-size: 18px;
	color: white;
	font-family: 'Sansita Swashed';
}

.blueBorder	{
	border: solid 5px #66a3ff;
	padding: 8px 20px 25px 20px;
}

.blueBorderTop	{
	border-top: solid 5px #66a3ff;
	padding-top: 10px;
}

.orangeBorder	{
	border: solid 5px #f2bb44;
	padding: 8px 20px 3px 20px;
}

.orangeFont {
	color: #f2bb44;;
}

.alert-danger {
    color: white;
    background-color: #f2bb44;
    border-color: black;
}

.titleFont	{
	font-size: 60px;
	color: #66a3ff;
	padding-bottom: 5px;
}

.missionBtn	{
	margin-top: 20px;
}

.topSpace	{
	padding-top: 8px;
}

.sizeUp	{
	font-size: 125%;
}

.secondary-img	{
	width: 100%;
}





